/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #000;
    background: #000;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
    text-decoration: none;
}

a:hover {
    color: #82E8FF;
}

#cougar {
  background: #FFD5AE;
}

#lion {
  background: #B26219;
}

#tiger {
  background: #FFBD82;
}

section {
  max-width: 100%;
  box-sizing: border-box;
  width: 600px;
  margin: 30px;
}

.text {
  background: #fff;
  color: #000;
  padding: 2em;
  font-size: 1em;
  line-height: auto;
}

h2 {
  text-align: center;
}

header {
  display: flex;
  background: #333;
  color: #fff;
  justify-content: space-between;
  padding: 2rem;
  margin: 0;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 1.25rem;
}

nav ul li {
  margin: 0;
  margin-left: 1rem;
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

footer {
  background: #333;
  color: #fff;
  margin: 0;
}

footer p {
  background: #333;
  color: #fff;
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}
